<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stuff</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1><a href="/">Ben's Webshop</a></h1>
        <nav>
            <ul>
                
            </ul>
        </nav>

        <div class="login_logout">
            <% if( isLoggedIn === false ) { %>
                <a href="/login">Log ind</a>
                <a href="/signup" >Opret Bruger</a>
            <% } else { %>
                <a href="/logout">Log ud</a>
                <p><%= (typeof showUsername != 'undefined') ? showUsername : '' %></p>

                <% if ( showLevel >= 50 ) { %>
                    <a href="/admin">Admin Panel</a>
                <% } else { %>

                <% } %>

            <% } %>
        </div>
    </header>
    <hr>