<% include ./partials/admin_header %>

    <section class="admin_content">
        <h1>Admin Panel | Kategorier</h1>
        <form method="post" class="admin_form_create_update">
            <legend>Opret en kategori</legend>
            <fieldset>
                <label for="name">Navn: </label>
                <input type="text" name="name" id="name">
            </fieldset>
            <fieldset>
                <label for="description">Description: </label>
                <textarea name="description" id="description" cols="30" rows="10"></textarea>
            </fieldset>
            <button type="submit">Opret</button>
        </form>

        
        
        <table class="admin_read_data_table">
            <thead>   
                <tr>
                    <th></th>
                    <th>Navn</th>
                    <th>Beskrivelse</th>
                </tr>
            </thead>
            <tbody>
                <% results.forEach(result => { %>
                    <tr>  
                        <td>
                            <a class="admin_edit" href="/admin/editCategory/<%= result.id %>">Rediger</a>
                            <a class="admin_delete" href="/admin/deleteCategory/<%= result.id %>">Slet</a>
                        </td>
                        <td><%= result.name %></td>
                        <td><%= result.description %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </section>

<% include ./partials/admin_footer %>