<% include ./partials/header %>
    
    <section id="homepage-main-section">
        <h1></h1>
        <article></article>
        <img src="" alt="">
    </section>

    <section id="homepage-random-products">
        <figure>
            <img src="" alt="">
            <figcaption></figcaption>
        </figure>
    </section>

<% include ./partials/footer %>