@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width:100%; 
    height: 100%;
}

.wrapper {
    max-width: 1200px!important;
    margin-left: auto!important;
    margin-right: auto!important;
}

fieldset {
    border:none;
}

/* HOME --------------------------------------------------------------------------------------------------------------- */

/* Home Main Section ---------------------------- */

#homepage-main-section {
    margin: 2% 0 0 0;
}

#homepage-main-section > div {
    display: flex;
}

#homepage-main-section h1 {
    width:100%; 
    text-align: center;
    font-size:30px;
    margin-bottom: 3%;
}

#homepage-main-section article {
   flex:1;
   margin-right:6%;
   font-size:20px;
}

#homepage-main-section > div div {
    width:35%;
}

/* Home Products Section ---------------------------- */

#products-section {
    display: flex;
    margin: 5% 0;
    flex-flow: row wrap;
}

#products-section figure {
    flex:1;
    margin: 0 2.5%;
}

.breaker {
    display:none;
}

.breaker:nth-child(3n) {
  display:block;
  width:100%;
  height:0;
  margin-top: 4%;
 }

#products-section  figcaption {
    display: block;
    text-align: center;
}


/* Products --------------------------------------------------------------------------------------------------------------- */


/* Single Product --------------------------------------------------------------------------------------------------------------- */
#single-product-section {
    text-align: center;
}

#single-product-section table {
    width:50%;
    text-align:left;
    border-collapse: collapse;
    margin: 5% auto 3% auto;
}

#single-product-section table th, #single-product-section table td {
    padding:20px;
    border: black solid 2px;
}

#single-product-section table th {
    background-color:black;
    color:white;
}

#single-product-section table td {
    background-color: #ddd;
    color:black;
}